
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel" style="color:white; background-color:#a7dbd8, #f0f4ff">
      <h3>  Questions for Survey#{{surveyId}}.</h3>
      <div>
        <a style="color:#ffffff" href="#"><span class="glyphicon glyphicon-edit"></span></a>
        <a style="color:white" href="#"><span class="glyphicon glyphicon-trash"></span></a>
        <a style="color:white" href="#"><span class="glyphicon glyphicon-ok"></span></a>
      </div>
    </div>

    <!-- Table -->
    <table class="table" style="font-size:10pt;">
      <thead>
        <tr>
          <th>Questions</th>
          <th>Question Type</th>
          <th width="10%">Payload</th>
          <th width="10%">isRequired?</th>
        </tr>
      </thead>
      <tbody *ngIf="surveyQuestions?.questions != null">
        <tr *ngFor="let result of surveyQuestions.questions; let i = index">
          <td>{{i + 1}}. {{result.text}}</td>
          <td>{{result.type}}</td>
          <td>
            <!-- Display Payload -->
            <span *ngIf="result.payload?.length > 0">
              {{ result.payload.join(', ') }}
            </span>
            <span *ngIf="result.payload?.length === 0">No Payload</span>
          </td>
          <td>
            <div class="input-group">
              <span class="input-group-addon" style="border-style:none;">
                <td>
                    <span *ngIf="result.isRequired">Yes</span>
                    <span *ngIf="!result.isRequired">No</span>
                  </td>
                  
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Table -->
  </div>
</div>
